.wool-bar {
    height: 64px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
}

.wool-bar__track {
    background-color: rgba(0, 0, 0, 0); 
}

.wool-bar__fill {
    width: 0;
    -unity-background-scale-mode: stretch-to-fill;
}

.wool-bar__ball {
    position: absolute;
    top: 50%;
    left: 0;
    translate: -50% -50%;              
    -unity-background-scale-mode: scale-to-fit;
}